* {
  font-family: Helvetica, "times New Roman";
}
body {
  margin: 0;
}

#background {
  display: flex;
  min-height: 100vh;
  background-color: rgb(77, 228, 89);
  justify-content: center;
  align-items: flex-start;
}
#form-bg {
  margin: 2%;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 20%;
  margin-right: 0.5%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: rgba(107, 114, 128, 1);
  font-weight: 700;
}

#table-mhs {
  margin: 2%;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 70%;
  margin-left: 0.5%;
}

#header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: rgba(31, 41, 55, 1);
}

.field {
  margin-top: 16px;
  padding: 10pt;
}

.textform {
  width: 100%;
  outline: 2px solid transparent;
  padding: 0.75rem;
  border-width: 2px;
  border-color: rgba(229, 231, 235, 1);
  border-radius: 0.25rem;
  box-sizing: border-box;
  border-style: solid;
}

.textform:focus {
  border-color: rgba(139, 92, 246, 1);
}

#form-button {
  margin-top: 16px;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  color: rgba(120, 53, 15, 1);
  font-weight: 700;
  background-color: rgba(251, 191, 36, 1);
  border-width: 0;
  border-style: solid;

  transition-duration: 0.3s;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
}

#form-button:hover {
  background-color: rgba(252, 211, 77, 1);
  color: rgba(146, 64, 14, 1);
}

#header-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.add-btn {
  margin-bottom: 1.5rem;
}
.tampilanData {
  padding: 10pt;
  border: solid 1pt black;
  border-collapse: collapse;
  border-collapse: collapse;
}
